@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo {
  width: 98%!important;
  padding-top: 21px;
  padding-left: 7px;
  padding-bottom: 91px;
  text-align: center;
}

.center {
  text-align: center;
  background-color: #FFE521;
  margin-top: 5em;
  padding: 5em;
}
h1 {
  
}

.texto {
  color: grey;
  text-align: center;
}

.link {
  border: 1px solid #dadff1;
  padding: 21px;
  cursor: pointer;
}

.textH {
  padding: 32px;
}

.textB{
  padding-top: 53px; 
}